Workflow/DeliveryBot_Completo.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -4112,
        1584
      ],
      "id": "3910a1a5-9ca7-40a8-bf27-4907cd356719",
      "name": "Telegram Disparador",
      "webhookId": "cb5135a2-2dcc-4f9d-8615-4b696728eb59",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "pantalla_actual": "VER_CATEGORIAS",
            "ultimo_cambio": "={{ $now }}",
            "carrito_temporal": "{}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2384,
        1408
      ],
      "id": "48c10e52-a18e-4207-9eff-ddf1f7ec55bc",
      "name": "Crear session",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "¡Bienvenido a DeliveryBot! 🍔 Selecciona una categoría:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🍹 Bebidas ",
                    "additionalFields": {
                      "callback_data": "Bebidas"
                    }
                  },
                  {
                    "text": "🍰 Postres",
                    "additionalFields": {
                      "callback_data": "Postres"
                    }
                  },
                  {
                    "text": "🍔 Comidas",
                    "additionalFields": {
                      "callback_data": "Comidas"
                    }
                  },
                  {
                    "text": "🍝 Almuerzos",
                    "additionalFields": {
                      "callback_data": "Almuerzos"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2016,
        1328
      ],
      "id": "ed3879e0-7fce-4071-94b1-6b7eb0d610f3",
      "name": "Categorias",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "pantalla_actual": "VER_CATEGORIAS",
            "ultimo_cambio": "={{ $now }}",
            "carrito_temporal": "{}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2176,
        1328
      ],
      "id": "a8c08615-51d8-4f47-a654-0895af1ccd3d",
      "name": "Reset Session",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b40cd675-d7ae-4c2f-9178-24f719494947",
              "leftValue": "={{ $('Ajuste Variables').item.json.texto_usuario }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3504,
        1584
      ],
      "id": "d5227cca-473a-4877-8a08-8475512adbf5",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b40cd675-d7ae-4c2f-9178-24f719494947",
              "leftValue": "={{ $('Leer estado Usuario').item.json.telegram_id }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2912,
        1344
      ],
      "id": "334b4ec1-22c8-48fd-8745-719676118d83",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "Pedido cancelado. Escribe /start para hacer un nuevo ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2800,
        2528
      ],
      "id": "392c56e4-cd52-4be5-aee6-69a6ac5d6a7c",
      "name": "Aviso Cancelacion",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "pantalla_actual": "VER_CATEGORIAS",
            "carrito_temporal": "{}",
            "ultimo_cambio": "={{ $now }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2864,
        2288
      ],
      "id": "b4aeb201-01a9-494b-a611-17bd2e824528",
      "name": "Update SESSION",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Ajuste Variables').item.json.texto_usuario }}",
                    "rightValue": "CONFIRMAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e2e5940a-76bc-433c-a440-4882c9abd644"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9f18a09-755e-47ac-8a4d-bc17429c7a0a",
                    "leftValue": "={{ $('Ajuste Variables').item.json.texto_usuario }}",
                    "rightValue": "SEGUIR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c0818511-c09c-42a8-a7d2-a34978013a22",
                    "leftValue": "={{ $('Ajuste Variables').item.json.texto_usuario }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3024,
        1936
      ],
      "id": "a2e1d567-fd0b-46bd-8260-38ac351d0bfd",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "=8907728238",
        "text": "={{ $('Confirmar Stock + Generar Pedido').item.json.mensaje_cocina }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1360,
        1744
      ],
      "id": "01a3e30b-7c03-42d4-8e5e-a54fe0fc15dc",
      "name": "Notificar Cocina",
      "webhookId": "e7605d0e-bb29-4198-aeb3-94de10177ad1",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "pantalla_actual": "VER_CATEGORIAS",
            "carrito_temporal": "{}",
            "ultimo_cambio": "={{ $now }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1808,
        2256
      ],
      "id": "ba398a21-1ecd-4497-8ca0-496519e5b91b",
      "name": "Limpiar Carrito SESSION",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "MENU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_producto": "={{ $json.id_producto }}",
            "stock": "={{ $json.stock_nuevo }}"
          },
          "matchingColumns": [
            "id_producto"
          ],
          "schema": [
            {
              "id": "id_producto",
              "displayName": "id_producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio",
              "displayName": "precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock",
              "displayName": "stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1968,
        2256
      ],
      "id": "898a358a-738c-4d65-b7dc-105f7760a310",
      "name": "Descontar los stoks",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f7ef90e-f4b8-426e-9ed0-154a57f2ce38",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "CONFIRMAR",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2448,
        2272
      ],
      "id": "71cf2121-1c7d-4603-9e06-50a73ea4d887",
      "name": "Validar Stock"
    },
    {
      "parameters": {
        "jsCode": "// Leer el carrito desde SESSION\nconst sessionData = $('Leer estado Usuario').item.json;\nlet carritoData;\n\ntry {\n  carritoData = JSON.parse(sessionData.carrito_temporal);\n} catch(e) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: \"⚠️ Error al leer el carrito. Escribe /start para reiniciar.\"\n    }\n  }];\n}\n\nconst items = carritoData.items || [];\nconst total = carritoData.total || 0;\n\nif (items.length === 0) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: \"⚠️ Tu carrito está vacío. Escribe /start para reiniciar.\"\n    }\n  }];\n}\n\n// Leer todos los productos del MENU con su stock actual\nconst menuRows = $input.all();\n\n// Validar stock para cada item del carrito\nconst erroresStock = [];\nconst actualizacionesStock = [];\n\nfor (const item of items) {\n  const productoEnMenu = menuRows.find(row => row.json.id_producto === item.id);\n  \n  if (!productoEnMenu) {\n    erroresStock.push(`❌ Producto ${item.nombre} ya no está disponible.`);\n    continue;\n  }\n  \n  const stockActual = Number(productoEnMenu.json.stock);\n  \n  if (stockActual < item.cantidad) {\n    erroresStock.push(`❌ *${item.nombre}*: solo quedan ${stockActual} unidades (pediste ${item.cantidad}).`);\n  } else {\n    actualizacionesStock.push({\n      id_producto: item.id,\n      stock_nuevo: stockActual - item.cantidad,\n      row_number: productoEnMenu.json.row_number\n    });\n  }\n}\n\n// Si hay errores de stock, detener\nif (erroresStock.length > 0) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: `⚠️ *Stock insuficiente:*\\n\\n${erroresStock.join('\\n')}\\n\\nModifica tu carrito o escribe /start para reiniciar.`\n    }\n  }];\n}\n\n// Todo OK — generar pedido\nconst timestamp = Date.now();\nconst chatId = $('Ajuste Variables').item.json.chat_id;\nconst idPedido = `PED-${chatId}-${timestamp}`;\n\nconst ahora = new Date();\nconst fecha = ahora.toISOString().split('T')[0];\nconst hora = ahora.toTimeString().split(' ')[0];\n\nconst detalle = items.map(i => `${i.nombre} x${i.cantidad}`).join(' | ');\n\nreturn [{\n  json: {\n    valido: true,\n    id_pedido: idPedido,\n    id_usuario: chatId,\n    detalles_pedido: detalle,\n    total_pago: total,\n    estado: 'Recibido',\n    fecha: fecha,\n    hora: hora,\n    items: items,\n    actualizaciones_stock: actualizacionesStock,\n    mensaje_cliente: `✅ *¡Pedido confirmado!*\\n\\n📋 *N° ${idPedido}*\\n\\n${items.map(i => `• ${i.nombre} x${i.cantidad} = $${i.subtotal}`).join('\\n')}\\n\\n💰 *Total: $${total}*\\n\\n⏳ Tu pedido está siendo preparado. Te notificaremos cuando esté listo.`,\n    mensaje_cocina: `🔔 *Nuevo pedido*\\n\\n📋 N° ${idPedido}\\n👤 Cliente: ${chatId}\\n\\n${items.map(i => `• ${i.nombre} x${i.cantidad}`).join('\\n')}\\n\\n💰 Total: $${total}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        2224
      ],
      "id": "73e1af9a-6b71-44b6-98c3-7f95250ee2b1",
      "name": "Confirmar Stock + Generar Pedido"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "MENU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2656,
        2048
      ],
      "id": "10386a13-7af8-466c-b1b3-e016994a8fe2",
      "name": "Lectura stock Actual",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $('Procesar Cantidad').item.json.resumen }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Confirmar pedido",
                    "additionalFields": {
                      "callback_data": "CONFIRMAR"
                    }
                  },
                  {
                    "text": "➕ Seguir comprando",
                    "additionalFields": {
                      "callback_data": "SEGUIR"
                    }
                  },
                  {
                    "text": "❌ Cancelar pedido",
                    "additionalFields": {
                      "callback_data": "CANCELAR"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2064,
        1984
      ],
      "id": "986bb6c9-d7b5-4cec-9d3c-8a6cf14b774a",
      "name": "Resumen Carrito",
      "webhookId": "29e8a60d-ec1c-4f72-b34b-71da5081e143",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "pantalla_actual": "CONFIRMAR_PEDIDO",
            "carrito_temporal": "={{ $json.nuevo_carrito_temporal }}",
            "ultimo_cambio": "={{ $now }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2240,
        1984
      ],
      "id": "76926f70-845d-4ad5-b879-1ccbfb804177",
      "name": "Guardar Estado CONFIRMAR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $json.mensaje }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": []
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2432,
        2112
      ],
      "id": "ff8fa4fb-59e8-4530-9ff0-ef51557d2eb9",
      "name": "Error Cantidad Inválida",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f7ef90e-f4b8-426e-9ed0-154a57f2ce38",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "CONFIRMAR",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2624,
        1888
      ],
      "id": "c8953f70-c8c2-4e8f-a3f0-968210a8195c",
      "name": "Validar cantidad"
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $('Procesar Selección Comida').item.json.mensaje }}",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2160,
        1712
      ],
      "id": "a19a9f5a-eff2-434f-962c-a9c4f5c32384",
      "name": "Comida seleccionada + Cantidad",
      "webhookId": "29e8a60d-ec1c-4f72-b34b-71da5081e143",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "pantalla_actual": "SELECCIONANDO_CANTIDAD",
            "carrito_temporal": "={{ $json.nuevo_carrito_temporal }}",
            "ultimo_cambio": "={{ $now }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2416,
        1712
      ],
      "id": "4d4048be-0601-49aa-acb1-9e600ce4f609",
      "name": "Guardar Siguiente Rama",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $json.mensaje }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": []
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2384,
        1856
      ],
      "id": "ebd16fb3-5c5c-4f98-9367-935c34d79d3e",
      "name": "Error Número Inválido",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f7ef90e-f4b8-426e-9ed0-154a57f2ce38",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "CONFIRMAR",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2640,
        1728
      ],
      "id": "8a5db5ee-4f13-42cd-a9fd-36b2e088fc2e",
      "name": "Validar Seleccion"
    },
    {
      "parameters": {
        "jsCode": "const numeroEscrito = String($('Ajuste Variables').item.json.texto_usuario).trim();\n\nconst sessionData = $input.first().json;\nconst mapaRaw = sessionData.carrito_temporal;\n\nif (!mapaRaw || mapaRaw === '{}' || mapaRaw === '') {\n  return [{\n    json: {\n      valido: false,\n      mensaje: \"⚠️ Tu sesión expiró. Escribe /start para reiniciar.\"\n    }\n  }];\n}\n\nlet mapa;\ntry {\n  mapa = JSON.parse(mapaRaw);\n} catch(e) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: \"⚠️ Error interno. Escribe /start para reiniciar.\"\n    }\n  }];\n}\n\nconst producto = mapa[numeroEscrito];\n\nif (!producto) {\n  const opciones = Object.keys(mapa).filter(k => !isNaN(k)).join(', ');\n  return [{\n    json: {\n      valido: false,\n      mensaje: `❌ Número inválido. Opciones: ${opciones}\\n\\n✏️ *Escribe el número del producto:*`\n    }\n  }];\n}\n\n// Recuperar items existentes si los hay\n// El mapa puede tener keys numéricos (productos) o tener estructura con items\nconst itemsExistentes = mapa.items || [];\n\nreturn [{\n  json: {\n    valido: true,\n    producto_id: producto.id,\n    producto_nombre: producto.nombre,\n    producto_precio: producto.precio,\n    mapa_raw: mapaRaw,\n    mensaje: `✅ Seleccionaste: *${producto.nombre}*\\n💰 Precio: $${producto.precio}\\n\\n¿Cuántas unidades deseas?`,\n    nuevo_carrito_temporal: JSON.stringify({\n      producto_seleccionado: {\n        id: producto.id,\n        nombre: producto.nombre,\n        precio: producto.precio\n      },\n      mapa: mapa,\n      items: itemsExistentes  // ← preserva el historial\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        1728
      ],
      "id": "b0373a82-f080-487c-9aa5-7c7d53d8d9a9",
      "name": "Procesar Selección Comida"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla_actual": "CARRITO",
            "ultimo_cambio": "={{ $now }}",
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "carrito_temporal": "={{ $('Fusionar Carrito').item.json.carrito_fusionado }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2160,
        1568
      ],
      "id": "4b8594c0-c83c-415f-9e07-f6b71bb2efe0",
      "name": "Guardar Estado (Carrito)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $('Fusionar Carrito').item.json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2336,
        1568
      ],
      "id": "d6d7f87a-4439-4c92-8237-6f9c29e7c317",
      "name": "Mostrar Comidas",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const productos = $input.all();\n\nif (productos.length === 0 || !productos[0].json.id_producto) {\n  return [{\n    json: {\n      hay_productos: false,\n      mensaje: \"⚠️ No hay productos disponibles en esta categoría.\"\n    }\n  }];\n}\n\nlet textoMenu = `📋 *Productos disponibles*\\n\\n`;\n\nproductos.forEach((p, index) => {\n  textoMenu += `*${index + 1}.* *${p.json.nombre}*\\n`;\n  textoMenu += `💰 Precio: $${p.json.precio}\\n`;\n  if (p.json.descripcion) {\n    textoMenu += `📝 _${p.json.descripcion}_\\n`;\n  }\n  textoMenu += `\\n`;\n});\n\ntextoMenu += `✏️ *Escribe el número del producto que deseas agregar a tu carrito:*`;\n\nconst mapaProductos = {};\nproductos.forEach((p, index) => {\n  mapaProductos[String(index + 1)] = {\n    id: p.json.id_producto,\n    nombre: p.json.nombre,\n    precio: Number(p.json.precio)\n  };\n});\n\nreturn [{\n  json: {\n    hay_productos: true,\n    mensaje: textoMenu,\n    mapa_productos: JSON.stringify(mapaProductos)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        1568
      ],
      "id": "c00e19be-59a0-4ce0-8ea9-11874acc5a03",
      "name": "Construir lista De Productos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "MENU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "categoria",
              "lookupValue": "={{ $('Ajuste Variables').item.json.texto_usuario }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2816,
        1568
      ],
      "id": "9206bc9c-b768-4276-8dcd-c7f6e219895f",
      "name": "Leer MENU",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "36e6cf2f-e237-40f8-9715-5982c138ff56",
                    "leftValue": "={{ $('Ajuste Variables').item.json.texto_usuario }}",
                    "rightValue": "/historial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual ?? 'NUEVO' }}",
                    "rightValue": "NUEVO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4158cb42-09cd-4131-9c3f-6b64a7599831"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "88c93551-1dcc-4907-b606-55be098ace0b",
                    "leftValue": "={{ $json.pantalla_actual ?? 'NUEVO' }}",
                    "rightValue": "VER_CATEGORIAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "35614922-1172-465b-9ac8-e7c57baa74ad",
                    "leftValue": "={{ $json.pantalla_actual ?? 'NUEVO' }}",
                    "rightValue": "CARRITO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3e097c04-d717-4fe4-8a00-604c271df9d0",
                    "leftValue": "={{ $json.pantalla_actual ?? 'NUEVO' }}",
                    "rightValue": "SELECCIONANDO_CANTIDAD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34841ff9-2d3f-4b4c-959d-9ab636e961b7",
                    "leftValue": "={{ $json.pantalla_actual ?? 'NUEVO' }}",
                    "rightValue": "CONFIRMAR_PEDIDO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3296,
        1648
      ],
      "id": "9dd9de06-c66a-4dd9-9c94-570bca8e0f41",
      "name": "Router De Estado"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $json.chat_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3728,
        1584
      ],
      "id": "3947d261-d6f0-4bd0-9d64-f896510f3539",
      "name": "Leer estado Usuario",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08c3f3b5-c39e-4179-a59e-92c5f47d1b5a",
              "name": "chat_id",
              "value": "={{ $json.message?.chat?.id ?? $json.callback_query?.message?.chat?.id }}",
              "type": "number"
            },
            {
              "id": "a59c7b53-f83a-4184-b6c1-a605e1b5ac0d",
              "name": "nombre_completo",
              "value": "={{ $json.message?.from?.first_name ?? $json.callback_query?.from?.first_name }} {{ $json.message?.from?.last_name ?? $json.callback_query?.from?.last_name }}",
              "type": "string"
            },
            {
              "id": "a2cf4899-bacb-42f6-ac2a-54164b3df5b7",
              "name": "texto_usuario",
              "value": "={{ $json.message?.text ?? $json.callback_query?.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3936,
        1584
      ],
      "id": "1cb9b833-c72f-4e5c-856d-c0c9f9a603e6",
      "name": "Ajuste Variables"
    },
    {
      "parameters": {
        "jsCode": "// Tomar las actualizaciones de stock calculadas\nconst actualizaciones = $('Confirmar Stock + Generar Pedido').item.json.actualizaciones_stock;\n\n// Devolver un item por cada producto a actualizar\nreturn actualizaciones.map(a => ({\n  json: {\n    id_producto: a.id_producto,\n    stock_nuevo: a.stock_nuevo,\n    row_number: a.row_number\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        2256
      ],
      "id": "2962a39e-9ac3-463f-91df-a0776bb77e43",
      "name": "Stock Descuento"
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2256,
        2416
      ],
      "id": "10889fb5-a2ef-4a38-ab15-3add1d9052b5",
      "name": "Stock Insuficientes",
      "webhookId": "29e8a60d-ec1c-4f72-b34b-71da5081e143",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const construirOutput = $('Construir lista De Productos').item.json;\n\n// Si no hay productos, pasar el mensaje de error directo\nif (!construirOutput.hay_productos || !construirOutput.mapa_productos) {\n  return [{\n    json: {\n      carrito_fusionado: '{}',\n      mensaje: construirOutput.mensaje || '⚠️ No hay productos disponibles.'\n    }\n  }];\n}\n\nconst mapaNuevo = JSON.parse(construirOutput.mapa_productos);\n\nconst sessionData = $('Leer estado Usuario').item.json;\nlet itemsExistentes = [];\n\ntry {\n  const carritoActual = JSON.parse(sessionData.carrito_temporal || '{}');\n  itemsExistentes = carritoActual.items || [];\n} catch(e) {\n  itemsExistentes = [];\n}\n\nconst carritoFusionado = {\n  ...mapaNuevo,\n  items: itemsExistentes\n};\n\nreturn [{\n  json: {\n    carrito_fusionado: JSON.stringify(carritoFusionado),\n    mensaje: construirOutput.mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        1568
      ],
      "id": "4771e3dd-6bcb-4ea5-a9c1-f712d190eddc",
      "name": "Fusionar Carrito"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1284889856,
          "mode": "list",
          "cachedResultName": "SESSION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1284889856"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "pantalla_actual": "VER_CATEGORIAS",
            "carrito_temporal": "={{ $('Leer estado Usuario').item.json.carrito_temporal }}",
            "ultimo_cambio": "={{ $now }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrito_temporal",
              "displayName": "carrito_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimo_cambio",
              "displayName": "ultimo_cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2832,
        2112
      ],
      "id": "5e35eb5f-7267-4a60-9583-ec6e55f7d238",
      "name": "Guardar HIstorial",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $('Confirmar Stock + Generar Pedido').item.json.mensaje_cliente }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1616,
        2256
      ],
      "id": "b6d84fb0-9697-4618-a008-ad92d555c050",
      "name": "Confirmar al cliente",
      "webhookId": "e7605d0e-bb29-4198-aeb3-94de10177ad1",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 792717060,
          "mode": "list",
          "cachedResultName": "PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=792717060"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_pepido": "={{ $json.id_pedido }}",
            "id_usuario": "={{ $json.id_usuario }}",
            "detalle_pedido": "={{ $json.detalles_pedido }}",
            "total_pagar": "={{ $json.total_pago }}",
            "estado": "={{ $json.estado }}",
            "fecha": "={{ $json.fecha }}",
            "hora": "={{ $json.hora }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_pepido",
              "displayName": "id_pepido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalle_pedido",
              "displayName": "detalle_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_pagar",
              "displayName": "total_pagar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2272,
        2256
      ],
      "id": "ed1cdabd-7168-4ef4-bcba-762df3885bdc",
      "name": "Registrar Pedidos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "¡Bienvenido a DeliveryBot! 🍔 Selecciona una categoría:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🍹 Bebidas ",
                    "additionalFields": {
                      "callback_data": "Bebidas"
                    }
                  },
                  {
                    "text": "🍰 Postres",
                    "additionalFields": {
                      "callback_data": "Postres"
                    }
                  },
                  {
                    "text": "🍔 Comidas",
                    "additionalFields": {
                      "callback_data": "Comidas"
                    }
                  },
                  {
                    "text": "🍝 Almuerzos",
                    "additionalFields": {
                      "callback_data": "Almuerzos"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2640,
        2384
      ],
      "id": "9d6f1f6c-ee60-4479-a026-88c8d18204d9",
      "name": "Mostrar categoría de Nuevo",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cantidadRaw = String($('Ajuste Variables').item.json.texto_usuario).trim();\nconst cantidad = Number(cantidadRaw);\n\nif (isNaN(cantidad) || cantidad <= 0 || !Number.isInteger(cantidad)) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: \"❌ Por favor escribe una cantidad válida (número entero mayor a 0).\"\n    }\n  }];\n}\n\nconst sessionData = $input.first().json;\nlet carritoData;\n\ntry {\n  carritoData = JSON.parse(sessionData.carrito_temporal);\n} catch(e) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: \"⚠️ Error interno. Escribe /start para reiniciar.\"\n    }\n  }];\n}\n\nconst producto = carritoData.producto_seleccionado;\nconst itemsExistentes = carritoData.items || [];\n\nconst nuevoItem = {\n  id: producto.id,\n  nombre: producto.nombre,\n  precio: producto.precio,\n  cantidad: cantidad,\n  subtotal: producto.precio * cantidad\n};\n\nconst itemsActualizados = [...itemsExistentes, nuevoItem];\n\n// Calcular total\nconst total = itemsActualizados.reduce((sum, item) => sum + item.subtotal, 0);\n\n// IVA (0% por ahora — lógica presente para escalar)\nconst IVA = 0;\nconst totalConIVA = total + (total * IVA / 100);\n\nlet resumen = `🛒 *Tu carrito:*\\n\\n`;\nitemsActualizados.forEach((item, i) => {\n  resumen += `${i + 1}. ${item.nombre} x${item.cantidad} = $${item.subtotal}\\n`;\n});\nresumen += `\\n💰 *Total: $${totalConIVA}*\\n\\n`;\nresumen += `¿Qué deseas hacer?`;\n\nreturn [{\n  json: {\n    valido: true,\n    items: itemsActualizados,\n    total: totalConIVA,\n    resumen: resumen,\n    nuevo_carrito_temporal: JSON.stringify({\n      items: itemsActualizados,\n      total: totalConIVA\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        1872
      ],
      "id": "99c0edfd-9078-4e5b-b559-4142198ffb95",
      "name": "Procesar Cantidad"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1204490906,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=1204490906"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_completo": "={{ $('Ajuste Variables').item.json.nombre_completo }}",
            "puntos_lealtad": "0",
            "telegram_id": "={{ $('Ajuste Variables').item.json.chat_id }}",
            "departamento/oficina": "={{ $('Procesar rgistro').item.json.departamento }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_completo",
              "displayName": "nombre_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "departamento/oficina",
              "displayName": "departamento/oficina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "puntos_lealtad",
              "displayName": "puntos_lealtad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2640,
        1408
      ],
      "id": "abe7eb46-2782-4561-8fc5-87e4237d5572",
      "name": "Registro Usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = String($('Ajuste Variables').item.json.chat_id);\nconst pedidos = $input.all();\n\nconst misPedidos = pedidos\n  .filter(p => String(p.json.id_usuario) === chatId)\n  .slice(-5) // últimos 5\n  .reverse();\n\nif (misPedidos.length === 0) {\n  return [{\n    json: {\n      mensaje: \"📋 *Tu historial de pedidos*\\n\\n⚠️ Aún no tienes pedidos registrados.\\n\\nEscribe /start para hacer tu primer pedido.\"\n    }\n  }];\n}\n\nlet texto = `📋 *Tus últimos pedidos:*\\n\\n`;\n\nmisPedidos.forEach((p, i) => {\n  const estados = {\n    'Recibido':    '📋',\n    'Preparación': '👨‍🍳',\n    'En camino':   '🛵',\n    'Entregado':   '✅'\n  };\n  const emoji = estados[p.json.estado] || '📌';\n  texto += `*${i + 1}.* ${emoji} ${p.json.estado}\\n`;\n  texto += `📋 ID: \\`${p.json.id_pepido}\\`\\n`;\n  texto += `🛒 ${p.json.detalle_pedido}\\n`;\n  texto += `💰 Total: $${p.json.total_pagar}\\n`;\n  texto += `📅 ${p.json.fecha} ${p.json.hora}\\n\\n`;\n});\n\ntexto += `_Mostrando los últimos ${misPedidos.length} pedidos._`;\n\nreturn [{ json: { mensaje: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        2272
      ],
      "id": "62992945-34c7-4a80-9fa5-5453d6c4e927",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3040,
        2464
      ],
      "id": "a1f3c743-8db4-4c2a-bf38-d7cc3a644ad9",
      "name": "Mostrar Historial",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 792717060,
          "mode": "list",
          "cachedResultName": "PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=792717060"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3120,
        2096
      ],
      "id": "43a683df-aca3-4598-bdea-d1cc21d4c833",
      "name": "Leer pedidos HISTORIAL",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ajuste Variables').item.json.chat_id }}",
        "text": "=SU sesion ha expirado, para volver usa /start y seguir comprando mas productos o /historial para ver tus ultimas compras",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": []
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2880,
        1168
      ],
      "id": "459dffd5-70ca-4c1e-97c4-f83e06e7a2c2",
      "name": "Sesión expiró",
      "webhookId": "63bba999-0a90-413b-9dd3-a22720e836d4",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Disparador": {
      "main": [
        [
          {
            "node": "Ajuste Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear session": {
      "main": [
        [
          {
            "node": "Reset Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Session": {
      "main": [
        [
          {
            "node": "Categorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router De Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Reset Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registro Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update SESSION": {
      "main": [
        [
          {
            "node": "Aviso Cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Lectura stock Actual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar HIstorial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update SESSION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Carrito SESSION": {
      "main": [
        [
          {
            "node": "Confirmar al cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descontar los stoks": {
      "main": [
        [
          {
            "node": "Limpiar Carrito SESSION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Stock": {
      "main": [
        [
          {
            "node": "Registrar Pedidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stock Insuficientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Stock + Generar Pedido": {
      "main": [
        [
          {
            "node": "Validar Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lectura stock Actual": {
      "main": [
        [
          {
            "node": "Confirmar Stock + Generar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado CONFIRMAR": {
      "main": [
        [
          {
            "node": "Resumen Carrito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar cantidad": {
      "main": [
        [
          {
            "node": "Guardar Estado CONFIRMAR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Cantidad Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Siguiente Rama": {
      "main": [
        [
          {
            "node": "Comida seleccionada + Cantidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Seleccion": {
      "main": [
        [
          {
            "node": "Guardar Siguiente Rama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Número Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Selección Comida": {
      "main": [
        [
          {
            "node": "Validar Seleccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar Comidas": {
      "main": [
        [
          {
            "node": "Guardar Estado (Carrito)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir lista De Productos": {
      "main": [
        [
          {
            "node": "Fusionar Carrito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer MENU": {
      "main": [
        [
          {
            "node": "Construir lista De Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router De Estado": {
      "main": [
        [
          {
            "node": "Leer pedidos HISTORIAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer MENU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Selección Comida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Cantidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sesión expiró",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer estado Usuario": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajuste Variables": {
      "main": [
        [
          {
            "node": "Leer estado Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Descuento": {
      "main": [
        [
          {
            "node": "Descontar los stoks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionar Carrito": {
      "main": [
        [
          {
            "node": "Mostrar Comidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar HIstorial": {
      "main": [
        [
          {
            "node": "Mostrar categoría de Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar al cliente": {
      "main": [
        [
          {
            "node": "Notificar Cocina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Pedidos": {
      "main": [
        [
          {
            "node": "Stock Descuento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Cantidad": {
      "main": [
        [
          {
            "node": "Validar cantidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro Usuario": {
      "main": [
        [
          {
            "node": "Crear session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Mostrar Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer pedidos HISTORIAL": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c490c5cb9267e9e1afc3fb43a5133cf70f41e1d04fdd74b0462dce451e513a5"
  }
}