Workflow/flujodelcocinero.json
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 792717060,
          "mode": "list",
          "cachedResultName": "PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=792717060"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_pepido",
              "lookupValue": "={{ String($json.id_pedido).trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3008,
        3072
      ],
      "id": "e4fb0674-415a-4053-9a51-aeb187fc775a",
      "name": "Buscar pedido",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2179b351-3b9c-4dc7-af3b-57ebd98485d8",
              "leftValue": "={{ $json.id_pepido }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2784,
        3072
      ],
      "id": "b8bfb2c0-d385-4162-bb31-6d75d1b69dca",
      "name": "EL pedido existe?"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -3904,
        3280
      ],
      "id": "a25a93ed-c7cc-49ec-8f49-37a7cdd8a3c2",
      "name": "Telegram Disparador Cocinero",
      "webhookId": "cb5135a2-2dcc-4f9d-8615-4b696728eb59",
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text?.split(' ')[0] }}",
                    "rightValue": "/estado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ea188dc7-a27c-4def-85d5-40740d925423"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ccc210a9-ffb9-4fae-9b84-c99a63174deb",
                    "leftValue": "={{ $json.message?.text?.split(' ')[0] }}",
                    "rightValue": "/ayuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3680,
        3264
      ],
      "id": "5b9f17a2-ee38-43d9-a6ae-257974c3c1fc",
      "name": "Detectar Comando"
    },
    {
      "parameters": {
        "jsCode": "const texto = $json.message.text.trim();\nconst chatAdmin = $json.message.chat.id;\n\nconst partes = texto.split(' ');\n\nif (partes.length < 3) {\n  return [{\n    json: {\n      valido: false,\n      chat_admin: chatAdmin,\n      mensaje_error: `❌ *Formato incorrecto*\\n\\nUso correcto:\\n\\`/estado PED-xxx-xxx NuevoEstado\\`\\n\\nEjemplo:\\n\\`/estado PED-8907728238-1234567890 Preparación\\`\\n\\nEscribe /ayuda para ver los estados válidos.`\n    }\n  }];\n}\n\nconst id_pedido = partes[1];\nconst nuevo_estado = partes.slice(2).join(' ');\n\nconst estados_validos = ['Recibido', 'Preparación', 'En camino', 'Entregado'];\n\nif (!estados_validos.includes(nuevo_estado)) {\n  return [{\n    json: {\n      valido: false,\n      chat_admin: chatAdmin,\n      mensaje_error: `❌ *Estado inválido:* \\`${nuevo_estado}\\`\\n\\nEstados permitidos:\\n• \\`Recibido\\`\\n• \\`Preparación\\`\\n• \\`En camino\\`\\n• \\`Entregado\\`\\n\\nEjemplo correcto:\\n\\`/estado PED-xxx-xxx En camino\\``\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valido: true,\n    id_pedido: id_pedido,\n    nuevo_estado: nuevo_estado,\n    chat_admin: chatAdmin\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3456,
        3168
      ],
      "id": "295874e1-3a50-41a3-a5cf-1e495c95b6ef",
      "name": "Parsear comando/estado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2179b351-3b9c-4dc7-af3b-57ebd98485d8",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3232,
        3168
      ],
      "id": "b97ea869-1a25-49ad-a9d8-ecc09eb31eae",
      "name": "Validar comando"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "👨‍🍳 *Guía Rápida - Cocina*\n\n Para cambiar el estado de un pedido escribe:  \n`/estado [ID] [Estado]`  \n\n*Ejemplo:* `/estado PED-123-456 Preparación`  \n\n*Estados válidos:* \n- Recibido \n- Preparación \n- En camino \n- Entregado  \n\nEl ID del pedido lo encuentras en la hoja *PEDIDOS* de Google \nSheets.  Escribe /ayuda para ver esto de nuevo.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3456,
        3328
      ],
      "id": "8d308e37-d846-4e57-ac5c-9284520e60cb",
      "name": "Guia de Uso",
      "webhookId": "a2e77e95-ba38-435b-bce2-1ba3e93e05bd",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_admin }}",
        "text": "={{ $json.mensaje_error }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3008,
        3264
      ],
      "id": "6567c036-a454-43f7-a8ce-8adbaaf24658",
      "name": "Error Formato Inválido",
      "webhookId": "a2e77e95-ba38-435b-bce2-1ba3e93e05bd",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parsear comando/estado').item.json.chat_admin }}",
        "text": "=❌ Pedido *{{ $('Parsear comando/estado').item.json.id_pedido }}* no encontrado.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2544,
        3248
      ],
      "id": "a6a84895-7a36-4e59-a4e9-a6ed4ba0540a",
      "name": "Pedido No Encontrado",
      "webhookId": "a2e77e95-ba38-435b-bce2-1ba3e93e05bd",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4",
          "mode": "list",
          "cachedResultName": "deliverybot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 792717060,
          "mode": "list",
          "cachedResultName": "PEDIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNSqj9dSELHYo_l9msficSonMdmhy5mvYlhzMZdDBD4/edit#gid=792717060"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_pepido": "={{ $('Parsear comando/estado').item.json.id_pedido }}",
            "estado": "={{ $('Parsear comando/estado').item.json.nuevo_estado }}"
          },
          "matchingColumns": [
            "id_pepido"
          ],
          "schema": [
            {
              "id": "id_pepido",
              "displayName": "id_pepido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalle_pedido",
              "displayName": "detalle_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_pagar",
              "displayName": "total_pagar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2544,
        3056
      ],
      "id": "59b05159-7bb5-4345-94d8-3fd6c9f031b3",
      "name": "Actualizar Estado PEDIDOS",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1mDXLGolfF5triT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const idPedido = $('Parsear comando/estado').item.json.id_pedido;\nconst nuevoEstado = $('Parsear comando/estado').item.json.nuevo_estado;\nconst idUsuario = $('Buscar pedido').item.json.id_usuario; // viene del Get rows PEDIDOS\n\n// Emoji según estado\nconst emojis = {\n  'Recibido':    '📋',\n  'Preparación': '👨‍🍳',\n  'En camino':   '🛵',\n  'Entregado':   '✅'\n};\n\nconst emoji = emojis[nuevoEstado] || '📌';\n\nconst mensajeCliente = `${emoji} *Actualización de tu pedido*\\n\\n📋 N° ${idPedido}\\n\\nEstado actual: *${nuevoEstado}*`;\nconst mensajeAdmin = `✅ Estado de *${idPedido}* actualizado a *${nuevoEstado}*.`;\n\nreturn [{\n  json: {\n    id_usuario: idUsuario,\n    mensaje_cliente: mensajeCliente,\n    mensaje_admin: mensajeAdmin\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        3056
      ],
      "id": "c6c05656-c9f7-40dc-b229-a3c702e8d432",
      "name": "Preparar Notificaciones"
    },
    {
      "parameters": {
        "chatId": "={{ $json.id_usuario }}",
        "text": "={{ $json.mensaje_cliente }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2096,
        3056
      ],
      "id": "0506212d-06cf-485b-a613-e8f4cbad2d95",
      "name": "Actualizacion Pedido",
      "webhookId": "a2e77e95-ba38-435b-bce2-1ba3e93e05bd",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parsear comando/estado').item.json.chat_admin }}",
        "text": "={{ $('Preparar Notificaciones').item.json.mensaje_admin }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1872,
        3056
      ],
      "id": "56e3070f-9377-4ce9-b17e-1551ed06c7b0",
      "name": "Notificar al cliente",
      "webhookId": "a2e77e95-ba38-435b-bce2-1ba3e93e05bd",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Usa /ayuda para darte instrucciones a como usar los estados de cocina",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3456,
        3504
      ],
      "id": "3d579a53-a299-45a3-bd06-b3452585c0a5",
      "name": "/ayuda",
      "webhookId": "a2e77e95-ba38-435b-bce2-1ba3e93e05bd",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "wlHAIXNKATZGf4dx",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Buscar pedido": {
      "main": [
        [
          {
            "node": "EL pedido existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EL pedido existe?": {
      "main": [
        [
          {
            "node": "Actualizar Estado PEDIDOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedido No Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Disparador Cocinero": {
      "main": [
        [
          {
            "node": "Detectar Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Comando": {
      "main": [
        [
          {
            "node": "Parsear comando/estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guia de Uso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear comando/estado": {
      "main": [
        [
          {
            "node": "Validar comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar comando": {
      "main": [
        [
          {
            "node": "Buscar pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Formato Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado PEDIDOS": {
      "main": [
        [
          {
            "node": "Preparar Notificaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Notificaciones": {
      "main": [
        [
          {
            "node": "Actualizacion Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizacion Pedido": {
      "main": [
        [
          {
            "node": "Notificar al cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/ayuda": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c490c5cb9267e9e1afc3fb43a5133cf70f41e1d04fdd74b0462dce451e513a5"
  }
}